<header>
    <h1 > {{title}} </h1>

<div>
    <a href="/">Weather</a>
    <a href="/about">About</a>
    <a href="/help">Help</a>
    <a href="/products?address=319/13%20Jessore%20Road,%20Kolkata,%20India">Weather Forecast</a>
    <a href="/forecast">Forecast</a>
    <a href="/what">404 check</a>
    <a href="/help/what">Help 404 error</a>
</div>
</header>